@model WebApplication.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/login_style.css">
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <img src="/img/smiley-beemo.png" alt="Smiley face">

        <h1>Login</h1>
        @using (Html.BeginForm("Login", "Account"))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)        
            
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                    
                @Html.LabelFor(m => m.RememberMe)
                @Html.CheckBoxFor(m => m.RememberMe)
             
                <button type="submit">Go</button>
            
             <div class="Link">@Html.ActionLink("Don't have an account? Sign up!", "Register", "Account")</div>
        }
</body>
</html>
