@model WebApplication.Models.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <fieldset>
        <h1>Register</h1>
        @using (Html.BeginForm("Register", "Account"))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()

           
            <p>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </p>
            <p>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </p>
            <p>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </p>    
            <p>
                <button type="submit" >Go</button>
            </p>

        }
    </fieldset>
</body>
</html>
