@model WebApplication.Models.RegisterViewModel
@{
    Layout = "_Layout";
}
<h1>Register</h1>
@using (Html.BeginForm("Register", "Account"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)
    <button type="submit">Go</button>
    <div class="Link">@Html.ActionLink("Already have an account? Go to the login page", "Login", "Account")</div>

}
